.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .article-form {
    .input-title {
      background-color: rgba(0, 0, 0, 0.04);
      width: 788px;
    }
  }

  .publish-quill {
    width: 800px;
    height: 710px;
    .ql-editor {
      min-height: 400px;
      min-width: 600px;
    }
    .ql-snow {
      background-color: white;
    }
    .ql-blank {
      background-color: white;
    }
  }
  .title {
    font-weight: bold;
    margin: 10px 0;
    color: #242424;
    font-size: 16px;
  }
  .article-button {
    margin-top: 20px;
    width: 800px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

