.boardSide-content {
  width: 160px;
  height: 100vh;

  .ant-menu {
    background-color: rgba(189, 179, 198, 0.16);
    border-radius: 8px;
    height: 100vh;
    text-align: center;
    font-weight: bold;
    color: #6c6b6b;

    .ant-menu-item:not(.ant-menu-item-selected):active {
      background-color: rgba(98, 76, 175, 0.3);
    }

    .ant-menu-item-active {
      background-color: rgba(98, 76, 175, 0.3);
    }
    .ant-menu-item-selected {
      color: #535bf2;
      background-color: rgba(98, 76, 175, 0.3);
    }

  }

}
